/////////////ai page/////////////////////////////////////////////

// Colors
$grey-light: #f0f4f9;
$grey: darken($grey-light, 20%);
$blue: #1e90ff;
$orange: #ff5321;

// Defaults
$box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
$border-radius: .3em;

@keyframes expand {
  0%    {opacity: 0; max-height: 0; }
  100%  {opacity: 1; max-height: 30em; }
}

// Basic setup



// main {
// 	display: block; /* IE */
// 	width: 70%; max-width: 50em;
// 	margin: 3em auto;
// }

p { 
	margin: 0;
}

p + p { 
	margin-top: 1.5em;
}

a { 
	color: $blue;
}

details > div {
	position: relative;
	z-index: 20;
	padding: 1.25em 1.5em;
	margin-bottom: .6em;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	background-color: white;
	// animation: expand .2s ease-in-out;
}

// Details & Summary
summary {
	position: relative;
	z-index: 10;
	display: block;
	background: white;
	padding-left: 3em;
	margin-bottom: .5em;
	font-size: 1.2em;
	line-height: 3;
	box-sizing: border-box; 
	list-style: none;
	cursor: pointer;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
}

summary:hover,
summary:focus {
	background:#565384;
	color: white;
	text-shadow: 0 -1px 0 rgba(black, .5);
	outline: 0;
}

summary::-webkit-details-marker {
	display: none
}

summary::before {
	content: '+';
	position: absolute;
	top: 50%; 
	left: 1em;
	transform: translateY(-50%);
	width: 1em; 
	height: 1em;
	margin-right: 1em;
	background: $orange;
	color: white;
	font-family: Arial, sans-serif;
	font-size: 20px;
	line-height: 1;
	text-align: center;
	border-radius: 50%;	
}

details[open] summary::before {
	content: '-';
	line-height: .9;
}

details[open] summary:hover::before,
details[open] summary:focus::before {
	background: white;
	color: $blue;
}


// aipage side nav

$color-white: #ffffff;
$color-blue: #3498DB;
$color-light: #f1f5f8;
$color-red: #c62828;
// $color-blue: #148cb8;

@mixin mobilescreen {
	@media only screen and (max-width: 325px) {
		@content;
	}
}

@mixin mediumscreen {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}



.navmenu-item a
 {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

img.rounded {
	display: block;
	width: 100%;
	height: auto;
}


// Sidev
.sidenav {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 16rem;
	height: 100vh;
	padding: 2rem 1.5rem;
	z-index: 9;
	color: $color-white;
	background: $color-blue;

	.navbrand6 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		img.rounded {
			display: block;
			width: 8rem;
			height: auto;
			margin-bottom: 0.5rem;
		}
	}

	.navmenu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-inline-start: 0;
		text-align: left;
		position: absolute;
		top: 15rem;

		&-item {
			margin-bottom: 1.5rem;
		}

		&-link {
			font-family: inherit;
			font-size: 1rem;
			font-weight: 500;
			line-height: inherit;
			color: $color-white;
			text-transform: uppercase;
			text-rendering: optimizeLegibility;
			transition: all 0.3s ease;

			&:hover {
				position: relative;
				left: 20px;
				color: #ffffff;
			}
		}
	}

	

	@include mediumscreen {
		width: 100vw;
		transform: translateX(-1000px);
		transition: transform 0.5s ease;

		&.active {
			transform: translateX(0);
		}

		
	}
}

